
.Content-About-Us{
    height: 900px;
    width:100%;
    background-color: white;
    /* background-image: url("https://www.hdwallpapers.in/download/building_city_manhattan_new_york_night_skyscraper_usa_4k_5k_hd_travel-2560x1440.jpg"); */
}
.mt-5 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
}

.about-section,
.mission-section,
.what-we-do-section,
.why-choose-us {
    flex: 1 1 25%; /* Adjust the width as needed */
    margin: 20px; /* Adds space between sections */
    min-width: 200px; /* Ensure sections don't get too narrow */
    color: black;
}

.Title {
    font-size: 24px;
    margin-bottom: 10px;
}

.SoftwareUsedImages{
    width: 250px;
    height:150px;
    position: relative;
    left:40px;
    top:20px;
    margin-left: 30px;
    align-content: space-between;
    align-items: stretch;
    transition: transform 0.3s ease;
   
}
.mt-6{
    display: flex;
    height: 100px;
}
.SoftwareSection{
    height: 200px;
    width: 100%;
    /* background-color: rgb(1, 2, 30); */
    position: relative;
    top:-30px;
    left: -80px;
}

.SoftwareUsedImages:hover {
    transform: scale(1.1);
}

#SoftwareLine {
    position: relative;
    right:1180px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
   
}
