@media only screen and (max-width:590px) {
    .Greensappermail-d-flex-align-items-center {
        position: relative;
        left: 300px;
    }

    .SoftwareUsedImages {
        display: none !important;
    }

    .what-we-do-section {
        display: none;
    }
    
    form{
        position: relative;
        left:-100px;
    }
    
    #image1{
        content: url('https://live.staticflickr.com/2808/13314474003_a5485d68d8_b.jpg');
    }
    #image2{
        content: url('https://images.adsttc.com/media/images/50a1/c93d/b3fc/4b0c/8c00/01c5/large_jpg/IMG_7071.jpg?1375804675');
    }
    #image3{
        content: url('https://th.bing.com/th/id/R.1bda2560cd2aace08c24b3f69a049fc7?rik=fTLM8mh%2bGj56vA&riu=http%3a%2f%2fwww.robwatkins.co.uk%2fimages%2fmain%2fceiling.jpg&ehk=ti6S9i4bB9cnRjoCkQcXzpkyyEPWxQX7KCVZ7z0pyOU%3d&risl=&pid=ImgRaw&r=0')
    }
    #image4{
        content: url('https://wallpaperaccess.com/full/2268125.jpg');
    }
    #image5{
        content: url('https://th.bing.com/th/id/R.47c8acc163f70ac2da9dabff4e9bfee6?rik=pRv9Yfj0UuZPlw&riu=http%3a%2f%2fwww.tonyfretton.com%2fsolid11%2fassets%2fimages%2ftfa-cha-19-2000x2686.jpg&ehk=%2bzEK3g1wpgB4enf2Tk6k7kpLM8p0jD79d%2fb8i3W1KMw%3d&risl=&pid=ImgRaw&r=0');
    }
    .accordion-button::after{
        left:10px;
        top:-4px;
    }
    #serviceimg3,#serviceimg2,#dayimages2,#dayimages3{
        display:none;
    }
    .service-images{
        display: flex;
        flex-direction: column;
    }
    #ThermalImg1{
         height: 200px;
         width: 300px;
         position: relative;
         left:10px;
    }

}

@media only screen and (min-width:591px)and (max-width:800px) {
    .SoftwareUsedImages {
        display: none !important;
    }

    .what-we-do-section {
        display: none;
    }
    form{
        position: relative;
        left:-100px;
    }
    #image1{
        content: url('https://live.staticflickr.com/2808/13314474003_a5485d68d8_b.jpg');
    }
    #image2{
        content: url('https://images.adsttc.com/media/images/50a1/c93d/b3fc/4b0c/8c00/01c5/large_jpg/IMG_7071.jpg?1375804675');
    }
    #image3{
        content: url('https://th.bing.com/th/id/R.1bda2560cd2aace08c24b3f69a049fc7?rik=fTLM8mh%2bGj56vA&riu=http%3a%2f%2fwww.robwatkins.co.uk%2fimages%2fmain%2fceiling.jpg&ehk=ti6S9i4bB9cnRjoCkQcXzpkyyEPWxQX7KCVZ7z0pyOU%3d&risl=&pid=ImgRaw&r=0')
    }
    #image4{
        content: url('https://wallpaperaccess.com/full/2268125.jpg');
    }
    #image5{
        content: url('https://th.bing.com/th/id/R.47c8acc163f70ac2da9dabff4e9bfee6?rik=pRv9Yfj0UuZPlw&riu=http%3a%2f%2fwww.tonyfretton.com%2fsolid11%2fassets%2fimages%2ftfa-cha-19-2000x2686.jpg&ehk=%2bzEK3g1wpgB4enf2Tk6k7kpLM8p0jD79d%2fb8i3W1KMw%3d&risl=&pid=ImgRaw&r=0');
    }
    .accordion-button::after{
        left:10px;
        top:-4px;
    }
    #dayimages2,#dayimages1,#serviceimg3,#serviceimg2{
        display: none;
    }
    #ThermalImg1{
        position: relative;
        left:10px;
    }
    
}
@media only screen and (min-width:801px) and (max-width:1400px){
    .SoftwareUsedImages {
        display: none !important;
    }
    form{
        position: relative;
        left:-100px;
    }
    #greensappermail{
       position: absolute;
       top:125px;
    }
    #image1{
        content: url('https://live.staticflickr.com/2808/13314474003_a5485d68d8_b.jpg');
    }
    #image2{
        content: url('https://images.adsttc.com/media/images/50a1/c93d/b3fc/4b0c/8c00/01c5/large_jpg/IMG_7071.jpg?1375804675');
    }
    #image3{
        content: url('https://th.bing.com/th/id/R.1bda2560cd2aace08c24b3f69a049fc7?rik=fTLM8mh%2bGj56vA&riu=http%3a%2f%2fwww.robwatkins.co.uk%2fimages%2fmain%2fceiling.jpg&ehk=ti6S9i4bB9cnRjoCkQcXzpkyyEPWxQX7KCVZ7z0pyOU%3d&risl=&pid=ImgRaw&r=0')
    }
    #image4{
        content: url('https://wallpaperaccess.com/full/2268125.jpg');
    }
    #image5{
        content: url('https://th.bing.com/th/id/R.47c8acc163f70ac2da9dabff4e9bfee6?rik=pRv9Yfj0UuZPlw&riu=http%3a%2f%2fwww.tonyfretton.com%2fsolid11%2fassets%2fimages%2ftfa-cha-19-2000x2686.jpg&ehk=%2bzEK3g1wpgB4enf2Tk6k7kpLM8p0jD79d%2fb8i3W1KMw%3d&risl=&pid=ImgRaw&r=0');
    }
    #dayimages3,#serviceimg3{
        display: none;
    }
    #ThermalImg1{
        position: relative;
        left:10px;
    }
}
@media only screen and (min-width:1500px){

}